extend component/layout

block css
  link(rel="stylesheet" href="css/index.css")

block content
  div.index_titles
    div.index_title HI! I AM Z.MOFEI!
    div.index_subtitle When you can fly, don't give up flying.|When you can dream, don't give up dream.|When you can love, don't give up on love.|当你能飞的时候就不要放弃飞|当你能梦的时候就不要放弃梦|当你能爱的时候就不要放弃爱|——梦的起飞，朱文龙的自留地

block js
  script(src="/js/index.js")



