doctype html

html
  head
    meta(content="text/html" charset="UTF-8")
    meta(name="description" content="朱文龙,Z.Mofei,易班网端工程师、ADOBE中国认证网络设计师，2010年开始研究web前端技术，熟练掌握html5，css3，javascript，node.js 等互联网技能，并不断学习成长的追梦者。")
    meta(name="author" content="朱文龙")
    meta(name="author" content="Z.Mofei")
    meta(name="keywords" content="朱文龙,Z.Mofei,Mofei,前端,前端工程师,CSS3,JS,AJAX,HTML5,Node.js")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    title HI!I am Z.Mofei -- 朱文龙的自留地
    

    link(rel="alternate" type="application/rss+xml" title="HI!I am Z.Mofei -- 朱文龙的自留地" href="/rss")

    link(rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-precomposed_64.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-precomposed_144.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-precomposed_72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-precomposed_144.png")

    link(rel="icon" href="favicon.ico")

    link(rel="stylesheet" href="/css/normalize.css")

    block css

  body
    nav.m_followlink
      span Follow me:
      a(href="http://weibo.com/zwl1027" target="_blank") 新浪微博
      a(href="http://t.qq.com/zwl1989") 腾讯微博
      a(href="https://plus.google.com/117364054641606661534?rel=author") Google+
      a(href="/rss") RSS

    section.main_section
      div.main_filter

      block content

    footer.m_nav
      div.m_logo 
        div.m_logo_address ZHUWENLONG.com 
        div.m_logo_text 朱文龙的自留地
      div.m_navlist
        a.active(href="/index")  首页
        a(href="/blog")  博客
        a(href="/about")  关于
        a(href="/lab")  实验
    script(src="/js/jQuery-v1.11.0.js")

    block js
